*.iml
.gradle
.kotlin
**/build/
local.properties
.env
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.hprof
*.keystore
!debug.keystore
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
node_modules/
supabase/.temp/
androidApp/google-services.json
iosApp/**/GoogleService-Info.plist
firebase/functions/lib/
*.iconset/
composeApp/flatpak/icons/
.andy